@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
	.safe-area-container {
		@apply flex-1 bg-gray-100 -mt-10;
	}
	.auth-container {
		@apply flex-1 justify-center p-8;
	}
	.auth-title {
		@apply text-3xl font-bold mb-12 text-center;
	}
	.auth-input {
		@apply border border-gray-300 rounded-lg mb-4 px-3 text-lg;
	}
	.auth-btn-container {
		@apply bg-blue-500 rounded-lg py-2;
	}
	.auth-btn-text {
		@apply text-lg text-center text-white font-bold;
	}

	.book-input-label {
		@apply text-lg font-semibold mb-2;
	}
	.book-input {
		@apply bg-white p-3 rounded-lg border border-gray-300 mb-4 text-base;
	}
}
